<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="priv.shiroko.amis.mapper.CertificateMapper">

    <resultMap id="BaseResultMap" type="priv.shiroko.amis.entity.Certificate">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="managerId" column="manager_id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="issuer" column="issuer" jdbcType="VARCHAR"/>
            <result property="issueDate" column="issue_date" jdbcType="DATE"/>
            <result property="startDate" column="start_date" jdbcType="DATE"/>
            <result property="endDate" column="end_date" jdbcType="DATE"/>
            <result property="valid" column="valid" jdbcType="TINYINT"/>
            <result property="attachment" column="attachment" jdbcType="VARCHAR"/>
            <result property="lastUpdate" column="last_update" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,manager_id,name,
        type,issuer,issue_date,
        start_date,end_date,valid,
        attachment,last_update
    </sql>
</mapper>
