<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="priv.shiroko.amis.mapper.ChangeRecordMapper">

    <resultMap id="BaseResultMap" type="priv.shiroko.amis.entity.ChangeRecord">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="managerId" column="manager_id" jdbcType="INTEGER"/>
            <result property="date" column="date" jdbcType="DATE"/>
            <result property="unitFrom" column="unit_from" jdbcType="VARCHAR"/>
            <result property="unitTo" column="unit_to" jdbcType="VARCHAR"/>
            <result property="deptFrom" column="dept_from" jdbcType="VARCHAR"/>
            <result property="deptTo" column="dept_to" jdbcType="VARCHAR"/>
            <result property="comment" column="comment" jdbcType="VARCHAR"/>
            <result property="attachment" column="attachment" jdbcType="VARCHAR"/>
            <result property="lastUpdate" column="last_update" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,manager_id,date,
        unit_from,unit_to,dept_from,
        dept_to,comment,attachment,
        last_update
    </sql>
</mapper>
