<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="priv.shiroko.amis.mapper.ManagerMapper">
    <resultMap id="BaseResultMap" type="Manager" autoMapping="true">
        <id property="id" column="id"/>
        <association property="yearCredits" column="id"
                     select="priv.shiroko.amis.mapper.LearnMapper.getYearCreditByManagerId"/>
        <association property="totalCredits" column="id"
                     select="priv.shiroko.amis.mapper.LearnMapper.getTotalCreditByManagerId"/>
    </resultMap>
    <!-- @formatter:off -->
    <sql id="BaseColumnNames">
        user_id,
        name,
        sex,
        birthday,
        ic_num,
        ethnic,
        political_status,
        native_place,
        photo,
        education,
        graduated,
        school,
        unit,
        dept,
        business_line,
        job,
        hired_date,
        entered_date,
        financial_age_limit,
        manager_age_limit,
        exit_date,
        last_year_assessment,
        qualification_cert_id,
        qualification_cert_date,
        job_cert_id,
        job_cert_date,
        mobile,
        office_tel,
        <if test="param.managerStatus != null">manager_status,</if>
        <if test="param.professionalTitle != null">professional_title,</if>
        <if test="param.managerLevel != null">manager_level,</if>
        id
    </sql>
    <sql id="BaseColumnValues">
        #{param.userId},
        #{param.name},
        #{param.sex},
        #{param.birthday},
        #{param.icNum},
        #{param.ethnic},
        #{param.politicalStatus},
        #{param.nativePlace},
        #{param.photo},
        #{param.education},
        #{param.graduated},
        #{param.school},
        #{param.unit},
        #{param.dept},
        #{param.businessLine},
        #{param.job},
        #{param.hiredDate},
        #{param.enteredDate},
        #{param.financialAgeLimit},
        #{param.managerAgeLimit},
        #{param.exitDate},
        #{param.lastYearAssessment},
        #{param.qualificationCertId},
        #{param.qualificationCertDate},
        #{param.jobCertId},
        #{param.jobCertDate},
        #{param.mobile},
        #{param.officeTel},
        <if test="param.managerStatus != null">#{param.managerStatus},</if>
        <if test="param.professionalTitle != null">#{param.professionalTitle},</if>
        <if test="param.managerLevel != null">#{param.managerLevel},</if>
        #{param.id}
    </sql>
    <!-- @formatter:on -->
    <sql id="where">
        <where>
            <if test="param.id != null">id = #{param.id}</if>
            <if test="param.userId != null">AND user_id = #{param.userId}</if>
            <if test="param.name != null">AND name = #{param.name}</if>
            <if test="param.sex != null">AND sex = #{param.sex}</if>
            <if test="param.birthday != null">AND birthday = #{param.birthday}</if>
            <if test="param.icNum != null">AND ic_num = #{param.icNum}</if>
            <if test="param.ethnic != null">AND ethnic = #{param.ethnic}</if>
            <if test="param.politicalStatus != null">AND political_status = #{param.politicalStatus}</if>
            <if test="param.nativePlace != null">AND native_place = #{param.nativePlace}</if>
            <if test="param.photo != null">AND photo = #{param.photo}</if>
            <if test="param.education != null">AND education = #{param.education}</if>
            <if test="param.graduated != null">AND graduated = #{param.graduated}</if>
            <if test="param.school != null">AND school = #{param.school}</if>
            <if test="param.unit != null">AND unit = #{param.unit}</if>
            <if test="param.dept != null">AND dept = #{param.dept}</if>
            <if test="param.businessLine != null">AND business_line = #{param.businessLine}</if>
            <if test="param.job != null">AND job = #{param.job}</if>
            <if test="param.hiredDate != null">AND hired_date = #{param.hiredDate}</if>
            <if test="param.enteredDate != null">AND entered_date = #{param.enteredDate}</if>
            <if test="param.financialAgeLimit != null">AND financial_age_limit = #{param.financialAgeLimit}</if>
            <if test="param.managerAgeLimit != null">AND manager_age_limit = #{param.managerAgeLimit}</if>
            <if test="param.exitDate != null">AND exit_date = #{param.exitDate}</if>
            <if test="param.lastYearAssessment != null">AND last_year_assessment = #{param.lastYearAssessment}</if>
            <if test="param.qualificationCertId != null">AND qualification_cert_id = #{param.qualificationCertId}
            </if>
            <if test="param.qualificationCertDate != null">AND qualification_cert_date =
                #{param.qualificationCertDate}
            </if>
            <if test="param.jobCertId != null">AND job_cert_id = #{param.jobCertId}</if>
            <if test="param.jobCertDate != null">AND job_cert_date = #{param.jobCertDate}</if>
            <if test="param.mobile != null">AND mobile = #{param.mobile}</if>
            <if test="param.officeTel != null">AND office_tel = #{param.officeTel}</if>
            <if test="param.managerStatus != null">AND manager_status = #{param.managerStatus}</if>
            <if test="param.professionalTitle != null">AND professional_title = #{param.professionalTitle}</if>
            <if test="param.managerLevel != null">AND manager_level = #{param.managerLevel}</if>
        </where>
    </sql>

    <select id="get" resultType="priv.shiroko.amis.entity.Manager" resultMap="BaseResultMap">
        SELECT * FROM manager
        <include refid="where"/>
        <if test="count != null">LIMIT #{count}</if>
        <if test="last != null">OFFSET #{last}</if>
    </select>
    <select id="getById" resultType="Manager" resultMap="BaseResultMap">
        SELECT *
        FROM manager
        WHERE id = #{id};
    </select>
    <insert id="add" parameterType="Manager">
        INSERT INTO manager (
        <include refid="BaseColumnNames"/>
        ) VALUES (
        <include refid="BaseColumnValues"/>
        );
    </insert>
    <update id="update" parameterType="Manager">
        UPDATE manager
        <set>
            <if test="param.userId != null">user_id=#{param.userId},</if>
            <if test="param.name != null">name=#{param.name},</if>
            <if test="param.sex != null">sex=#{param.sex},</if>
            <if test="param.birthday != null">birthday=#{param.birthday},</if>
            <if test="param.icNum != null">ic_num=#{param.icNum},</if>
            <if test="param.ethnic != null">ethnic=#{param.ethnic},</if>
            <if test="param.politicalStatus != null">political_status=#{param.politicalStatus},</if>
            <if test="param.nativePlace != null">native_place=#{param.nativePlace},</if>
            <if test="param.photo != null">photo=#{param.photo},</if>
            <if test="param.education != null">education=#{param.education},</if>
            <if test="param.graduated != null">graduated=#{param.graduated},</if>
            <if test="param.school != null">school=#{param.school},</if>
            <if test="param.unit != null">unit=#{param.unit},</if>
            <if test="param.dept != null">dept=#{param.dept},</if>
            <if test="param.businessLine != null">business_line=#{param.businessLine},</if>
            <if test="param.job != null">job=#{param.job},</if>
            <if test="param.hiredDate != null">hired_date=#{param.hiredDate},</if>
            <if test="param.enteredDate != null">entered_date=#{param.enteredDate},</if>
            <if test="param.financialAgeLimit != null">financial_age_limit=#{param.financialAgeLimit},</if>
            <if test="param.managerAgeLimit != null">manager_age_limit=#{param.managerAgeLimit},</if>
            <if test="param.exitDate != null">exit_date=#{param.exitDate},</if>
            <if test="param.lastYearAssessment != null">last_year_assessment=#{param.lastYearAssessment},</if>
            <if test="param.qualificationCertId != null">qualification_cert_id=#{param.qualificationCertId},</if>
            <if test="param.qualificationCertDate != null">qualification_cert_date=#{param.qualificationCertDate},</if>
            <if test="param.jobCertId != null">job_cert_id=#{param.jobCertId},</if>
            <if test="param.jobCertDate != null">job_cert_date=#{param.jobCertDate},</if>
            <if test="param.mobile != null">mobile=#{param.mobile},</if>
            <if test="param.officeTel != null">office_tel=#{param.officeTel},</if>
            <if test="param.professionalTitle != null">professional_title=#{param.professionalTitle},</if>
            <if test="param.managerLevel != null">manager_level=#{param.managerLevel}</if>
        </set>
        WHERE id = #{param.id}
    </update>
    <delete id="deleteById">
        DELETE
        FROM manager
        WHERE id = #{id};
    </delete>
    <select id="hasId" resultType="boolean">
        SELECT EXISTS(SELECT 1 FROM manager WHERE id = #{id} LIMIT 1);
    </select>
    <select id="count" resultType="integer">
        SELECT count(*) FROM manager
        <include refid="where"/>
    </select>
</mapper>
