<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="priv.shiroko.amis.mapper.ManagerMapper">

    <resultMap id="BaseResultMap" type="priv.shiroko.amis.entity.Manager">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="sex" column="sex" jdbcType="OTHER"/>
            <result property="birthday" column="birthday" jdbcType="DATE"/>
            <result property="ethnic" column="ethnic" jdbcType="OTHER"/>
            <result property="politicalStatus" column="political_status" jdbcType="OTHER"/>
            <result property="nativePlace" column="native_place" jdbcType="VARCHAR"/>
            <result property="photo" column="photo" jdbcType="VARCHAR"/>
            <result property="education" column="education" jdbcType="OTHER"/>
            <result property="graduated" column="graduated" jdbcType="OTHER"/>
            <result property="professionalTitle" column="professional_title" jdbcType="OTHER"/>
            <result property="managerLevel" column="manager_level" jdbcType="OTHER"/>
            <result property="unit" column="unit" jdbcType="VARCHAR"/>
            <result property="dept" column="dept" jdbcType="VARCHAR"/>
            <result property="businessLine" column="business_line" jdbcType="OTHER"/>
            <result property="job" column="job" jdbcType="VARCHAR"/>
            <result property="hiredDate" column="hired_date" jdbcType="DATE"/>
            <result property="enteredDate" column="entered_date" jdbcType="DATE"/>
            <result property="financialAgeLimit" column="financial_age_limit" jdbcType="INTEGER"/>
            <result property="managerAgeLimit" column="manager_age_limit" jdbcType="INTEGER"/>
            <result property="totalCredits" column="total_credits" jdbcType="DOUBLE"/>
            <result property="yearCredits" column="year_credits" jdbcType="DOUBLE"/>
            <result property="exitDate" column="exit_date" jdbcType="DATE"/>
            <result property="lastYearAssessment" column="last_year_assessment" jdbcType="VARCHAR"/>
            <result property="qualificationCertId" column="qualification_cert_id" jdbcType="VARCHAR"/>
            <result property="qualificationCertDate" column="qualification_cert_date" jdbcType="DATE"/>
            <result property="jobCertId" column="job_cert_id" jdbcType="VARCHAR"/>
            <result property="jobCertDate" column="job_cert_date" jdbcType="DATE"/>
            <result property="mobile" column="mobile" jdbcType="VARCHAR"/>
            <result property="officeTel" column="office_tel" jdbcType="VARCHAR"/>
            <result property="managerStatus" column="manager_status" jdbcType="OTHER"/>
            <result property="lastUpdate" column="last_update" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,name,
        sex,birthday,ethnic,
        political_status,native_place,photo,
        education,graduated,professional_title,
        manager_level,unit,dept,
        business_line,job,hired_date,
        entered_date,financial_age_limit,manager_age_limit,
        total_credits,year_credits,exit_date,
        last_year_assessment,qualification_cert_id,qualification_cert_date,
        job_cert_id,job_cert_date,mobile,
        office_tel,manager_status,last_update
    </sql>
</mapper>
