<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="priv.shiroko.amis.mapper.TrainRecordMapper">

    <resultMap id="BaseResultMap" type="priv.shiroko.amis.entity.TrainRecord">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="managerId" column="manager_id" jdbcType="INTEGER"/>
            <result property="date" column="date" jdbcType="DATE"/>
            <result property="subject" column="subject" jdbcType="VARCHAR"/>
            <result property="unit" column="unit" jdbcType="VARCHAR"/>
            <result property="startDate" column="start_date" jdbcType="DATE"/>
            <result property="endDate" column="end_date" jdbcType="DATE"/>
            <result property="credit" column="credit" jdbcType="DOUBLE"/>
            <result property="score" column="score" jdbcType="DOUBLE"/>
            <result property="attachment" column="attachment" jdbcType="VARCHAR"/>
            <result property="lastUpdate" column="last_update" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,manager_id,date,
        subject,unit,start_date,
        end_date,credit,score,
        attachment,last_update
    </sql>
</mapper>
