<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="priv.shiroko.amis.mapper.UserMapper">

    <resultMap id="user" type="User">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="passwordQuestion" column="password_question" jdbcType="VARCHAR"/>
        <result property="passwordAnswer" column="password_answer" jdbcType="VARCHAR"/>
        <result property="icNum" column="ic_num" jdbcType="VARCHAR"/>
        <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="registrationTime" column="registration_time" jdbcType="TIMESTAMP"/>
        <result property="lastLoginTime" column="last_login_time" jdbcType="TIMESTAMP"/>
        <result property="enabled" column="enabled" jdbcType="TINYINT"/>
        <result property="role" column="role" typeHandler="priv.shiroko.amis.utils.EnumTypeHandler"/>
    </resultMap>

    <sql id="BaseColumnNames">
        password,
        password_question,
        password_answer,
        ic_num,
        nickname,
        email,
        <if test="enabled != null">enabled,</if>
        <if test="role != null">role,</if>
        username
    </sql>
    <sql id="BaseColumnValues">
        #{password},
        #{passwordQuestion},
        #{passwordAnswer},
        #{icNum},
        #{nickname},
        #{email},
        <if test="enabled != null">#{enabled},</if>
        <if test="role != null">#{role},</if>
        #{username}
    </sql>
    <insert id="createNewUser" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (
        <include refid="BaseColumnNames"/>
        ) VALUES (
        <include refid="BaseColumnValues"/>
        );
    </insert>
    <update id="updateUser">
        UPDATE user
        <set>
            <if test="username != null">username=#{username},</if>
            <if test="icNum != null">ic_num=#{icNum},</if>
            <if test="email != null">email=#{email},</if>
            <if test="enabled != null">enabled=#{enabled},</if>
            <if test="role != null">role=#{role}</if>
        </set>
        WHERE id = #{id};
    </update>
    <select id="hasUsersWithNameAndId" resultType="java.lang.Boolean">
        SELECT EXISTS(SELECT 1 FROM user
        <where>
            <if test="username != null">
                username = #{username}
            </if>
            <if test="id != null">
                AND id = #{id}
            </if>
        </where>
        );
    </select>
</mapper>
