spring:
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://localhost:3306/amis
    username: root
    password: dbpasswd
  sql:
    init:
      schema-locations: classpath:resources/db/schema.sql
      data-locations: classpath:resources/db/sample-data.sql
      mode: always
  web:
    resources:
      cache:
        period: 0

mybatis:
  type-aliases-package: priv.shiroko.amis.entity
  configuration:
    map-underscore-to-camel-case: true
    default-enum-type-handler: priv.shiroko.amis.utils.EnumTypeHandler
    log-impl: org.apache.ibatis.logging.slf4j.Slf4jImpl

amis:
  bcrypt-cost: 12
  defaults:
    admin-username: admin
    admin-password: 123456
    password: 111111

server:
  servlet:
    encoding:
      force: true
      enabled: true
      charset: utf-8
