spring:
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://localhost:3306/amis
    username: root
    password: dbpasswd
  sql:
    init:
      schema-locations: classpath:resources/db/schema.sql
      mode: always
  web:
    resources:
      cache:
        period: 0

mybatis:
  type-aliases-package: priv.shiroko.amis.entity

amis:
  bcrypt-cost: 12
  defaults:
    admin-username: admin
    admin-password: 123456

server:
  servlet:
    encoding:
      force: true
      enabled: true
      charset: utf-8
