<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="priv.shiroko.amis.mapper.detail.CertificateMapper">
    <sql id="where">
        <where>
            <if test="param.id != null">id = #{param.id}</if>
            <if test="param.managerId != null">AND manager_id = #{param.managerId}</if>
            <if test="param.lastUpdate != null">AND last_update = #{param.lastUpdate}</if>
            <if test="param.updateUser != null">AND update_user = #{param.updateUser}</if>
            <if test="param.attachment != null">AND attachment = #{param.attachment}</if>

            <if test="param.certName != null">AND cert_name = #{param.certName}</if>
            <if test="param.certId != null">AND cert_id = #{param.certId}</if>
            <if test="param.type != null">AND type = #{param.type}</if>
            <if test="param.issuer != null">AND issuer = #{param.issuer}</if>
            <if test="param.issueDate != null">AND issue_date = #{param.issueDate}</if>
            <if test="param.startDate != null">AND start_date = #{param.startDate}</if>
            <if test="param.endDate != null">AND end_date = #{param.endDate}</if>
            <if test="param.valid != null">AND valid = #{param.valid}</if>
            <if test="param.invalidMark != null">AND invalid_mark = #{param.invalidMark}</if>
        </where>
    </sql>
    <insert id="add" parameterType="priv.shiroko.amis.entity.detail.Certificate" useGeneratedKeys="true"
            keyProperty="id" keyColumn="id">
        INSERT INTO certificate
        (manager_id, cert_name, cert_id, type, issuer, issue_date, start_date, end_date, valid, invalid_mark,
         attachment,
         update_user) VALUE
            (#{param.managerId}, #{param.certName}, #{param.certId}, #{param.type}, #{param.issuer}, #{param.issueDate},
             #{param.startDate}, #{param.endDate}, #{param.valid}, #{param.invalidMark},
             #{param.attachment}, #{param.updateUser});
    </insert>
    <select id="get" resultType="priv.shiroko.amis.entity.detail.Certificate">
        SELECT * FROM certificate
        <include refid="where"/>
        LIMIT #{last}, #{count};
    </select>
    <select id="count" resultType="integer">
        SELECT count(*) FROM certificate
        <include refid="where"/>
    </select>
    <update id="update">
        UPDATE certificate
        <set>
            <if test="param.managerId != null">manager_id = #{param.managerId}</if>
            <if test="param.updateUser != null">update_user = #{param.updateUser}</if>
            <if test="param.attachment != null">attachment = #{param.attachment}</if>

            <if test="param.certName != null">cert_name = #{param.certName}</if>
            <if test="param.certId != null">cert_id = #{param.certId}</if>
            <if test="param.type != null">type = #{param.type}</if>
            <if test="param.issuer != null">issuer = #{param.issuer}</if>
            <if test="param.issueDate != null">issue_date = #{param.issueDate}</if>
            <if test="param.startDate != null">start_date = #{param.startDate}</if>
            <if test="param.endDate != null">end_date = #{param.endDate}</if>
            <if test="param.valid != null">valid = #{param.valid}</if>
            <if test="param.invalidMark != null">invalid_mark = #{param.invalidMark}</if>
        </set>
        WHERE id=#{param.id}
    </update>

</mapper>
